svg{
    background-color: #eee;
}

.line{
    fill:none;
    stroke: #4682B4;
    stroke-width: 2;
}
.y-axis-title{
    stroke: black;
    stroke-width: 0.1px;
    fill:#000;
    font-size:14px;
}
.grid{
    stroke: #777;
    stroke-width: 0.3px;

}
.dot:hover circle{
    fill:yellow;
    color:#000;
    font-weight: 600;
}
.dot:hover text{
    color:#000;
    font-weight: 600;
}