<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Line-chart-1
      </mat-panel-title>
      <mat-panel-description>
        每年人口增长图
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-line-chart1></app-line-chart1>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Line-chart-2
      </mat-panel-title>
      <mat-panel-description>
        每年人口出生率、死亡率和自然增长率
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-line-chart2></app-line-chart2>
  </mat-expansion-panel>
</mat-accordion>
